html{background-color:#111!important;color:#888!important;margin:0;height:100%;}
body{width:100%;margin-top:0px;margin-left:auto;margin-right:auto;font-size:1em;font-family:monospace;display:flex;}
nav{margin-left:1em;margin-right:2em;padding-top:1em;}
ul{margin:0;padding-left:1em; list-style-type:none; }
ul.spaced-list>li{margin-bottom:1ex;}
a{color:#2ECC40;text-decoration:none;}
a:hover{text-decoration:underline;}
